<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.GoodsEvaluateMapper">

    <resultMap id="goodsevaluate" type="goodsevaluate">
        <id column="id" property="id"></id>
        <result column="goods_id" property="goodsId"></result>
        <result column="user_id" property="userId"></result>
        <result column="comment" property="comment"></result>
        <result column="picture" property="picture"></result>
        <result column="level" property="level"></result>

    </resultMap>

    <!--    添加-->
    <insert id="addGoodsEvaluate" parameterType="goodsevaluate">
        insert into goods_evaluate(id, goods_id, user_id, comment, picture, level)
        values (#{id}, #{goodsId}, #{userId}, #{comment}, #{picture}, #{level})
    </insert>

    <!--    更新-->
    <update id="upGoodsEvaluate" parameterType="goodsevaluate">
        update goods_evaluate
        set user_id=#{userId},
            comment=#{comment},
            picture=#{picture},
            level=#{level}
        where id = #{id}
    </update>
    <!--    删除-->
    <delete id="delGoodsEvaluate" parameterType="goodsevaluate">
        delete
        from goods_evaluate
        where id = #{id}
    </delete>
    <!--    查询全部-->
    <select id="queryGoodsEvaluate" parameterType="goodsevaluate" resultMap="goodsevaluate">
        select *
        from goods_evaluate where goods_id=#{goodsId}
    </select>
    <!--    根据商品id查询-->
    <select id="queryGoodsEvaluateAll" parameterType="goodsevaluate" resultMap="goodsevaluate">
        select * from goods_evaluate
    </select>

        <select id="findGoodsEvaluateByIdCard" parameterType="goodsevaluate" resultType="entity.GoodsEvaluate">
            select id,
            goods_id as goodsId,
            user_id as userId,
            comment as comment,
            picture as picture,
           level as level
            from goods_evaluate
            where
            id = #{id}
        </select>

<!--    list-->
    <select id="getGoodsEvaluate" parameterType="goodsevaluate" resultMap="goodsevaluate">
        select * from goods_evaluate
    </select>

<!--    form-->
    <select id="findById" parameterType="goodsevaluate" resultMap="goodsevaluate">
        select * from goods_evaluate where id = #{id}
    </select>


</mapper>
