<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.GoodsMapper">

    <resultMap id="goods" type="goods">
        <id column="id" property="id"></id>
        <result column="goods_name" property="goodsName"></result>
        <result column="price" property="price"></result>
        <result column="describtion" property="describtion"></result>
        <result column="num" property="num"></result>
        <result column="picture" property="picture"></result>
        <result column="manufacturer" property="manufacturer"></result>
        <result column="small_type_id" property="smallTypeId"></result>
        <result column="create_time" property="createTime"></result>
        <result column="del_flag" property="delFlag"></result>
        <result column="state" property="state"></result>
        <result column="score" property="score"></result>
    </resultMap>

    <!--    插入商品信息-->
    <insert id="addGoods" parameterType="Goods">
        insert into goods(id, goods_name, price, describtion, num, picture, manufacturer, small_type_id, create_time,
                          del_flag, state)
        values (#{id}, #{goodsName}, #{price}, #{describtion}, #{num}, #{picture}, #{manufacturer}, #{smallTypeId},
                #{createTime}, #{delFlag}, #{state})
    </insert>

<!--    add-->
    <insert id="add" parameterType="Goods">
        insert into goods(id, goods_name, price, describtion, num, picture, manufacturer, small_type_id, create_time,
                          del_flag, state,score)
        values (#{id}, #{goodsName}, #{price}, #{describtion}, #{num}, #{picture}, #{manufacturer}, #{smallTypeId},
                #{createTime}, #{delFlag}, #{state},#{score})
    </insert>

    <!--    更新商品信息-->
    <update id="upGoods" parameterType="Goods">
        update goods
        set price=#{price},
            goods_name=#{goodsName},
            describtion=#{describtion},
            num=#{num},
            picture=#{picture},
            manufacturer=#{manufacturer},
            small_type_id=#{smallTypeId},
            state=#{state},
            score=#{score}
        where id = #{id}
    </update>

    <!--    根据商品名字删除商品信息-->
    <delete id="delGoods" parameterType="Goods">
        delete
        from goods
        where id = #{id}
    </delete>


    <select id="findGoodsByIdCard" parameterType="Goods" resultType="goods">
        select id,
        goods_name as goodsName,
        price as price,
        describtion as describtion,
        num as num,
        picture as picture,
        manufacturer as manufacturer,
        small_type_id as smallTypeId,
        create_time as createTime,
        del_flag as delFlag,
        state as state
        from goods
        where true
        AND del_flag = '0'
        <if test="null != goodsName">and goods_name = #{goodsName}</if>
    </select>
    <!--    查询所有商品信息-->
    <select id="querryGoods" parameterType="Goods" resultMap="goods">
        select *
        from goods
    </select>

    <!--    通过商品名查询信息-->
    <select id="querryGoodsBygoodsname" parameterType="goods" resultMap="goods">
        select *
        from goods
        where goods_name = #{goodsName}
    </select>

    <!--    list-->

    <select id="getGoods" parameterType="goods" resultMap="goods">
        select * from goods
        <if test="id != null and id != ''">where id = #{id}</if>
    </select>
<!--    form-->
    <select id="findById" parameterType="goods" resultMap="goods">
        select * from goods where id =#{id}
    </select>

    <!--    <select id="findUserByIdCard" parameterType="user" resultType="user">-->
    <!--        select id,-->
    <!--        user_name as userName,-->
    <!--        password as password,-->
    <!--        real_name as realName,-->
    <!--        id_card as idCard,-->
    <!--        sex as sex,-->
    <!--        tel as tel,-->
    <!--        create_time as createTime,-->
    <!--        del_flag as delFlag-->
    <!--        from user-->
    <!--        where true-->
    <!--        AND del_flag = '0'-->
    <!--        <if test="null != idCard">and id_card = #{idCard}</if>-->
    <!--    </select>-->


</mapper>
