<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">

    <resultMap id="user" type="user">
        <id column="id" property="id"></id>
        <result column="user_name" property="userName"></result>
        <result column="password" property="password"></result>
        <result column="real_name" property="realName"></result>
        <result column="id_card" property="idCard"></result>
        <result column="sex" property="sex"></result>
        <result column="tel" property="tel"></result>
        <result column="create_time" property="createTime"></result>
        <result column="del_flag" property="delFlag"></result>
    </resultMap>

    <select id="findUserByIdCard" parameterType="user" resultMap="user">
        select id,
        user_name as userName,
        password as password,
        real_name as realName,
        id_card as idCard,
        sex as sex,
        tel as tel,
        create_time as createTime,
        del_flag as delFlag
        from user
        where  del_flag = '0'
        and id_card = #{idCard}
    </select>

    <!--    通过用户名查询用户信息-->
    <select id="queryUserByusername" parameterType="user" resultMap="user">
        select *
        from user
        where user_name = ${userName}
    </select>
    <!--    查询所有用户信息-->
    <select id="queryUserAll" resultType="entity.User" resultMap="user">
        select *
        from user
    </select>
    <!--    登陆验证-->
    <select id="login" parameterType="user" resultType="java.lang.Integer">
        select count(*)
        from user
        where user_name = '${userName}'
          and password = '${password}'
    </select>
    <!--    查询-->
    <select id="getUser" parameterType="user" resultMap="user">
        select *
        from user
        where del_flag = '0'
        <if test="userName != null and userName != ''">and user_name=${userName}</if>
    </select>
    <!--    -->
    <select id="findUserById" resultType="user" resultMap="user">
        select * from user where del_flag='0'
        <if test="id != null">and id = ${id}</if>
    </select>


    <!--   插入user信息-->
    <insert id="addUser" parameterType="entity.User">
        insert into user(id, user_name, password, real_name, id_card, sex, tel, create_time, del_flag)
        values (#{id}, #{userName}, #{password}, #{realName}, #{idCard}, #{sex}, #{tel}, #{createTime}, #{delFlag})
    </insert>
    <!--    删除用户信息-->
    <delete id="delUser" parameterType="entity.User">
        delete
        from user
        where id = #{id}
    </delete>
    <!--    更新用户信息-->
    <update id="upUserByusername" parameterType="entity.User">
        update user
        set
            user_name = #{userName},
            password=#{password},
            real_name=#{realName},
            id_card=#{idCard},
            sex = #{sex},
            tel=#{tel}
        where id = #{id}
    </update>
</mapper>
